<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <general>
                <display_expected_delivery>1</display_expected_delivery>
            </general>
            <warehouse>
                <off_days>0,6</off_days>
                <cutoff_time>5 PM</cutoff_time>
            </warehouse>
            <tablerate>
                <off_days>0,6</off_days>
                <delivery_days>6</delivery_days>
            </tablerate>
            <freeshipping>
                <off_days>0,6</off_days>
                <delivery_days>4</delivery_days>
            </freeshipping>
            <flatrate>
                <off_days>0,6</off_days>
                <delivery_days>4</delivery_days>
            </flatrate>
        </carriers>
    </default>
</config>